html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Righteous', sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-image: url('img/background_main.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    height: 100vh; /* Garante que o background cubra toda a tela */
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative; /* Mantém os elementos posicionados corretamente */

    .white-line {
        width: 550px;
        height: 1.2px;
        background-color: white;
        position: absolute;
        top: 20px; /* Ajusta a posição para reaparecer acima do menu */
        left: 30px;
    }

    .main-title {
        color: white;
        font-size: 90px;
        margin-top: 200px;
        transition: all 0.3s ease;
    }
    
    .main-title2 {
        display: block;
        font-size: 90px;
        color: white;
        transition: all 0.3s ease;
    }

    .main-button {
        background-color: #FDEE7A;
        color: white;
        padding: 15px 32px;
        width: 350px;
        height: 100px;
        font-size: 26px;
        cursor: pointer;
        border-radius: 50px;
        /* colocar um bos shadow aq */
        transition: 0.3s ease;
    }

    .main-button:hover {
        background-color: #58532b;
        font-weight: bold;
        transform: translateY(-5px);
    }

    nav {
        position: absolute;
        top: 30px;
        left: 40px;
        display: flex;
        gap: 20px;
    
        .menu-link {
            text-decoration: none;
            font-size: 20px;
            color: white;
            transition: all 0.3s ease;
        }
        
        .menu-link:hover {
            transform: translateY(-5px);
            font-weight: bold;
        }
    }
}

.carrossel-container {
    overflow: hidden;
    white-space: nowrap;
    background: #eadcdc;
    padding: 10px 0;
    position: relative;
    width: 100%;

    .carrossel {
        display: flex;
        width: max-content;
        animation: scroll-left 15s linear infinite;
    }
    
    /* Duplicamos os itens para que nunca fiquem vazios */
    .carrossel span {
        display: inline-block;
        padding: 0 40px;
        font-size: 18px;
        color: #555;
    }
}

/* Animação contínua */
@keyframes scroll-left {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

.informational-menu, .packages-menu, .photos-menu {
    background-color: #93C7FF;
    height: 80vh;
    width: 100vw;
    padding: 100px 20px;
    color: white;
}